#product-form-section {
  padding: 20px 0;
}

.alex-product-form-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.alex-product-form-buttons {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

@media (min-width: 576px) {
  #product-form-section {
    padding: 40px 0;
  }
}


.alex-table-wrapper {
  overflow-x: auto; 
  
}

.alex-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}





.alex-product-listing-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
}


@media (max-width: 576px) {
  .alex-product-form-buttons {
    grid-template-columns: 1fr; 
    
  }

  .alex-table {
    display: block; 
    
    width: 100%;
  }

  

 

  .alex-txt-left {
    text-align: left;
  }

  .alex-product-listing-btn {
    width: 18px;
    height: 18px;
  }
}


@media (max-width: 768px) {
  /* .alex-tb576 {
    display: none; /* Esconde a coluna de ID em telas menores */
  } */

 
  .alex-product-listing-btn {
    width: 24px;
    height: 24px;
  }


