.dsc-header-client {
    background-color: var(--dsc-color-bg-secondary);
    color: var(--dsc-color-font-primary);
  }
  header {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  .dsc-header-admin {
  background-color: var(--dsc-color-bg-quaternary);
  color: var(--dsc-color-font-tertiary);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav h1 {
  font-size: 16px;
  margin: 0; /* Remover margens padrão */
}

nav a {
  font-size: 14px;
  margin-right: 15px; /* Espaçamento entre os links */
  color: var(--dsc-color-font-primary);
  font-weight: 500;
}

nav a:hover {
  color: var(--dsc-color-btn-primary); /* Cor ao passar o mouse */
}

.dsc-navbar-right {
  display: flex;
  align-items: center;
  gap: 15px; /* Espaçamento entre os elementos */
}
.number{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dsc-color-notification);
  color: var(--dsc-color-font-tertiary);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  padding-left: -10px;
  top: -10px;
  left: -10px;
  font-size: 10px;
  
}