.alex-header-admin {
  background-color: var(--alex-color-bg-quaternary);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav h1 {
  font-size: 1rem;
  margin: 0;
  font-weight: 700;
  color:black;
}

a,
p ,.alex-menu-item p , .element.style a {
  font-size: 1rem;
  margin-right: 15px;
  font-weight: 700;
}

.alex-navbar-right {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.alex-logged-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; 
}

.alex-menu-item-active p{
  color: red;
}

.user-info-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  font-weight: 700;
}

.logout-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}


.user-profile-link {
  display: flex;
  align-items: center; 
  gap: 10px; 
  text-decoration: none; 
}

.user-name {
  
  font-size: 12px; 
}

/* Estilização dos ícones */
.icon-profile,
.icon-home,
.icon-inventary,
.icon-user-info,
.icon-logout {
  font-size: 50px;
  color: black;
}

/* Estilo de ícones em telas pequenas */
@media (max-width: 576px) {
  .alex-container .usuario {
    display: none;
  }



}
