.alex-header-admin {
  background-color: var(--alex-color-bg-quaternary);
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  width: 100%;
  margin: 0;
}
.alex-container-admin {
  justify-content: space-between;
  gap: 0;
}
.alex-contaner-admin-inicio{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

nav h1 {
  font-size: 1rem;
  margin: 0;
  font-weight: 700;
  color: black;
  cursor: not-allowed;
}

a,
p,
.alex-menu-item p,
.element.style a {
  font-size: 1rem;
  font-weight: 700;
}
.produtos ,.alex-menu-item-produto{
display: flex;
flex-direction: row;
align-items: center;
margin: 0;
padding: 0;
gap: 0;
}

.alex-menu-item-active {
  display: flex; /* Flexbox na tag <p> também para alinhar ícone e nome */
  flex-direction: column;
  align-items: center; /* Alinha o ícone e o nome verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  justify-items: center;
}

.alex-menu-item-active strong {
  margin-left: 8px; /* Dá um pequeno espaçamento entre o ícone e o nome */
}

.alex-navbar-left-admin {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  gap: 0px;
}

.alex-menu-items-container {
  display: flex;
  gap: 50px; 
}

.alex-logged-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}

.alex-menu-item-active p {
  color: red;
}

.user-info-icon {
  display: flex;
  align-items: center;
  color: black;
  font-weight: 700;
  cursor: not-allowed;
}

.logout-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.user-profile-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.user-name {
  font-size: 12px;
}

.icon-profile,
.icon-home,
.icon-inventary,
.icon-user-info,
.icon-logout {
  font-size: 50px;
  color: black;
}

@media (max-width: 760px) {
  .usuario ,.user-info-icon{
    display: none;
  }

  .user-profile-link,
  .alex-menu-item-active,
  .alex-header-admin,
  .alex-navbar-left,
  .alex-logged-user,
  .alex-menu-items-container,
  .logout-link
  {
    
    margin-right: 5px;
    padding: 0px;
    gap: 10px;
  }
  .alex-container-admin {
     justify-content: center;
  
     
  }
  
}
