
#catalog-section {
  padding: 20px 0;
}

.alex-catalog-cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}

.alex-catalog-card-top {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.alex-catalog-card-top img {
  width: 150px;
  height: 150px;
}

.alex-catalog-card-bottom {
  padding: 10px 20px;
  min-height: 110px;
}
.pesquisa-submit , .reset{
  background-color: var(--alex-color-card-bg);
}
.alex-catalog-card-bottom h3 {
  color: var(--alex-color-font-secondary);
  font-size: 20px;
}

.alex-catalog-card-bottom h4 {
  color: var(--alex-color-font-primary);
  font-size: 12px;
}
