@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --alex-color-bg-primary: #e8e8e8;
  --alex-color-bg-secondary: #ffe500;
  --alex-color-bg-tertiary: #636363;
  --alex-color-bg-quaternary: #784da2;

  --alex-color-card-bg: #fff;
  --alex-color-card-border: #d9d9d9;

  --alex-color-btn-primary: #3483fa;
  --alex-color-btn-inverse: #fff;

  --alex-color-font-primary: #636363;
  --alex-color-font-secondary: #0caf1d;
  --alex-color-font-tertiary: #fff;
  --alex-color-font-placeholder: #d9d9d9;

  --alex-color-error: #f33;
  --alex-color-notification:#f00;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--alex-color-bg-primary);
}

main {
  padding: 0 20px;
}

/*-----------------------------------------------------------------*/
/* generic styles */

.alex-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.alex-mb20 {
  margin-bottom: 20px;
}

.alex-mt20 {
  margin-top: 20px;
}

.alex-section-title {
  text-align: center;
  color: var(--alex-color-font-primary);
  font-size: 16px;
}

.alex-txt-left {
  text-align: left;
}

@media (min-width: 576px) {
  .alex-section-title {
    text-align: left;
    font-size: 24px;
  }
}

/*-----------------------------------------------------------------*/
/* header styles */
header {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.alex-menu-items-container {
  display: flex;
}

.alex-menu-items-container img {
  width: 20px;
  height: 20px;
}

.alex-menu-item {
 
  display: flex;
  align-items: center;
}

.alex-menu-item p {
  /* display: none; */
  margin-left: 5px;
  font-size: 14px;
}

.alex-menu-item-active {
  font-weight: 700;
}

.alex-logged-user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.alex-logged-user p {
  font-size: 12px;
}

.alex-logged-user a {
  font-weight: 700;
}

@media (min-width: 576px) {
  nav h1 {
    font-size: 24px;
  }
  nav a {
    font-size: 16px; 
    
  }
  .alex-menu-item p {
    display: block;
  }
}

@media (max-width: 575px) {
  nav a {
    margin-right: 10px; /* Reduzir espaçamento entre links em telas menores */
  }

  .alex-navbar-right {
    gap: 10px; /* Reduzir espaçamento entre elementos em telas menores */
  }
}
@media (max-width: 575px) {
  header {
    height: auto; /* Adapta a altura do header para dispositivos menores */
    padding: 10px 20px; /* Ajuste o padding para garantir que o conteúdo não fique apertado */
  }
}

/*-----------------------------------------------------------------*/
/* card styles */

.alex-card {
  border: 1px solid var(--alex-color-card-border);
  border-radius: 4px;
  background-color: var(--alex-color-card-bg);
}

.alex-line-bottom {
  border-bottom: 1px solid var(--alex-color-card-border);
}

/*-----------------------------------------------------------------*/
/* button styles */

.alex-btn-page-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
}

@media (min-width: 576px) {
  .alex-btn-page-container {
    width: 220px;
  }
}

.alex-btn {
  width: 100%;
  height: 42px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.alex-btn-blue {
  border: none;
  background-color: var(--alex-color-btn-primary);
  color: var(--alex-color-btn-inverse);
}

.alex-btn-white {
  border: 1px solid var(--alex-color-btn-primary);
  background-color: var(--alex-color-btn-inverse);
  color: var(--alex-color-btn-primary);
}

.alex-btn-next-page {
  border: 1px solid var(--alex-color-btn-primary);
  padding: 10px;
  border-radius: 4px;
  color: var(--alex-color-btn-primary);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

/*-----------------------------------------------------------------*/
/* search bar styles */

.alex-search-bar {
  height: 40px;
  display: flex;
  color: var(--alex-color-font-primary);
}

.alex-search-bar button, .alex-search-bar input {
  border: 1px solid var(--alex-color-card-border);
}

.alex-search-bar input {
  width: calc(100% - 80px);
  border-left: none;
  border-right: none;
  padding: 0 10px;
  font-size: 16px;
  color: var(--alex-color-font-primary);
}

.alex-search-bar input:focus {
  outline: none;
}

.alex-search-bar input::placeholder {
  color: var(--alex-color-font-placeholder);
}

.alex-search-bar button {
  width: 40px;
  color: var(--alex-color-font-primary);
}

.alex-search-bar button[type="submit"] {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.alex-search-bar button[type="reset"] {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

/*-----------------------------------------------------------------*/
/* form styles */

.alex-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.alex-form h2 {
  font-size: 16px;
  color: var(--alex-color-font-primary);
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.alex-form-controls-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  margin: 20px 0;
}

.alex-form-control {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 20px;
  color: var(--alex-color-font-primary);
  border-radius: 4px;
  border: 1px solid var(--alex-color-card-border);
}

.alex-form-control:focus {
  outline: none;
}

.alex-form-control::placeholder {
  color: var(--alex-color-font-placeholder);
}

.alex-input-error {
  border: 1px solid var(--alex-color-error);
}

.alex-form-error {
  color: var(--alex-color-error);
  font-size: 12px;
  padding-left: 4px;
}

.alex-select:invalid {
  color: var(--alex-color-font-placeholder);
}

.alex-select option[disabled] {
  display: none;
}

.alex-select option {
  color: var(--alex-color-font-primary);
}

.alex-textarea {
  resize: none;
  height: 128px;
  padding-top: 10px;
}

@media (min-width: 576px) {
  .alex-form h2 {
    font-size: 24px;
  }
}

/*-----------------------------------------------------------------*/
/* table styles */

.alex-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.alex-table thead {
  height: 55px;
  font-size: 14px;
  color: var(--alex-color-font-primary);
  background-color: var(--alex-color-card-bg);
}

.alex-table tbody {
  text-align: center;
  font-size: 12px;
  color: var(--alex-color-font-primary);
  background-color: var(--alex-color-card-bg);
}

.alex-table tbody tr {
  height: 70px;
  border-top: 1px solid var(--alex-color-card-border);
}

.alex-table th:nth-child(2) {
  border-top-left-radius: 10px;
}

.alex-table th:last-child {
  border-top-right-radius: 10px;
}

.alex-table td:nth-child(2) {
  padding-left: 10px;
}

.alex-table td:last-child {
  padding-right: 5px;
}


@media (min-width: 576px) {
  .alex-tb576 {
    display: table-cell;
  }

  .alex-table th:nth-child(1) {
    padding-left: 20px;
    border-top-left-radius: 10px;
  }

  .alex-table th:nth-child(2) {
    border-top-left-radius: 0;
  }

  .alex-table td:nth-child(1) {
    padding-left: 20px;
  }

  .alex-table td:nth-child(2) {
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .alex-tb768 {
    display: table-cell;
  }
}

@media (min-width: 992px) {
  .alex-table tbody {
    font-size: 16px;
  }
}
