@import url("styles.css");

#product-details-section {
    padding: 20px 0;
}

.alex-product-details-top {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.alex-product-details-top img {
    width: 220px;
}

.alex-product-details-bottom {
    padding: 10px 20px;
}

.alex-product-details-bottom h3 {
    color: var(--alex-color-font-secondary);
    font-size: 20px;
}

.alex-product-details-bottom h4 {
    color: var(--alex-color-font-primary);
    font-size: 12px;
}

.alex-product-details-bottom p {
    color: var(--alex-color-font-primary);
    font-size: 12px;
    margin: 10px 0;
}

.alex-category-container {
    display: flex;
    flex-wrap: wrap;
}


.alex-category {
    padding: 0 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: var(--alex-color-bg-tertiary);
    border-radius: 4px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    color: var(--alex-color-font-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
}
